.wrapper{
  width: 100vw;
}
.img__wrapper{
  width: 100vw;
  height: 120vh;

}
.card__wrapper{
  width: 14rem;
  height: 18rem;
  aspect-ratio: 3/4;
  position: fixed;
  top: 0;
  border-radius: 20px;
}
.card__wrapper img{
  aspect-ratio: 3/4;
}